/* Общие стили для всех устройств */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Изменено на center для центрирования содержимого */
    min-height: 100vh; /* Изменено на min-height для полноэкранного просмотра */
    overflow: auto; /* Изменено на auto для прокрутки при необходимости */
    animation: fadeIn 2s ease-in-out;
    background-color: #f0f0f0; /* Изменено цвет фона */
    transition: background-color 0.5s ease-in-out; /* Плавная анимация изменения фона */
    -webkit-tap-highlight-color: transparent; /* Добавлено свойство для предотвращения моментального изменения цвета при нажатии */
    user-select: none; /* Отключение выделения текста при нажатии */
}

@media (max-width: 600px) {
    body {
        align-items: flex-start; /* Изменено на flex-start для вертикального центрирования на маленьких экранах */
        flex-direction: column; /* Изменено на column для вертикального центрирования на маленьких экранах */
    }

    #h1-title {
        margin-top: 20px; /* Изменено для отступа названия сайта на маленьких экранах */
    }

    #pdfContainer {
        margin-top: 20px; /* Изменено для отступа блока pdfContainer на маленьких экранах */
        width: 90%; /* Уменьшение ширины pdfContainer на маленьких экранах */
    }

    #version {
        font-size: 20px; /* Увеличение размера надписи версии на маленьких экранах */
        text-align: center; /* Выравнивание по центру на маленьких экранах */
        margin-top: 20px; /* Добавление отступа сверху на маленьких экранах */
        display: block; /* Показывать версию на маленьких экранах */
        position: static; /* Убрать позиционирование */
    }
}

/* Общие стили для версии на больших экранах */
#version {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    color: #666; /* Изменено на серый цвет */
    display: none; /* По умолчанию скрывать версию */
}

@media (min-width: 600px) {
    #version {
        display: block; /* Показывать версию на больших экранах */
    }
}

#githubLink {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000; /* Черный цвет для текста кнопки */
    font-size: 14px;
    transition: transform 0.3s ease-in-out;
    top: calc(100% - 40px); /* Добавлен небольшой отступ сверху по умолчанию */

    /* Отступ сверху на маленьких экранах */
    @media (max-width: 600px) {
        top: calc(100% - 30px); /* Увеличенный отступ для маленьких экранов */
    }
}

#githubIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

#githubText {
    font-weight: bold;
}

#githubLink:hover {
    transform: scale(1.05); /* Увеличение размера при наведении */
    color: #666; /* Изменение цвета текста при наведении */
}

@keyframes fadeIn {
     0% {opacity: 0;}
     100% {opacity: 1;}
}

.pdf-nav-button {
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.pdf-nav-button:hover {
    transform: scale(1.2);
}

#pdfContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    animation: slideUp 2s ease-in-out;
    width: 80%; /* Добавлено для адаптивности */
    max-width: 800px; /* Добавлено для адаптивности */
    transition: background-color 0.5s ease-in-out; /* Плавная анимация изменения фона */
    overflow-x: hidden; /* Скрытие горизонтальной прокрутки */
    overflow-y: auto; /* Включение вертикальной прокрутки при необходимости */
}

@media (max-width: 600px) {
    #pdfContainer {
        width: 90%; /* Добавлено для адаптивности на мобильных устройствах */
    }
}

@keyframes slideUp {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0);}
}

#pdfViewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%; /* Добавлено для адаптивности */
    max-width: 100%; /* Добавлено для адаптивности */
    overflow: hidden; /* Скрытие горизонтальной прокрутки */
}

@media (max-width: 600px) {
    #pdfViewer {
        max-width: calc(100% - 40px); /* Уменьшение максимальной ширины на мобильных устройствах */
    }
}

#pdfViewer canvas {
    max-width: 100%; /* Добавлено ограничение максимальной ширины для canvas */
}

#pdfControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
}

#statusMessage {
    font-size: 18px;
    margin-top: 20px; /* Изменено для размещения ниже кнопок */
    text-align: center; /* Добавлено для выравнивания по центру */
    animation: fadeIn 2s ease-in-out; /* Анимация появления */
}

#pdfPageInfo {
    font-size: 18px;
}

#pdfNavButtons {
    display: flex;
    align-items: center;
    justify-content: center; /* Добавлено для адаптивности */
    width: 100%; /* Добавлено для адаптивности */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #007cf0, #00dfd8);
    background-size: 200% 100%;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background 0.5s ease-in-out, background-position 0.5s ease-in-out;
    max-width: 200px; /* Добавлено для адаптивности */
    width: auto; /* Добавлено для адаптивности */
    animation: gradient 5s infinite, fadeIn 2s ease-in-out; /* Добавлены дополнительные анимации */
    animation-fill-mode: forwards;
}

@keyframes gradient {
    0% {background-position: 100% 0%;}
    50% {background-position: 0% 100%;}
    100% {background-position: 100% 0%;}
}

button:hover {
    transform: scale(1.05); /* Увеличение размера при наведении */
    background: linear-gradient(90deg, #00dfd8, #007cf0);
}

input[type="file"] {
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
    background: #f0f0f0;
    width: 100%; /* Добавлено для адаптивности */
    max-width: 200px; /* Добавлено для адаптивности */
}

input[type="file"]:hover {
    background: #e0e0e0;
}

#pageSelection {
    display: block;
    margin-top: 20px;
    width: 100%; /* Добавлено для адаптивности */
}

#downloadSelected {
    display: none;
}

#pageInput {
    padding: 10px;
    border: none;
    border-radius: 50px;
    transition: background 0.5s ease-in-out;
    background: #f0f0f0;
    width: 100%; /* Добавлено для адаптивности */
    max-width: 200px; /* Добавлено для адаптивности */
}

#pageInput:hover {
    background: #e0e0e0;
}

/* Анимация при изменении размера окна браузера */
@keyframes resizeAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Специфичные стили для мобильных устройств */
@media (max-width: 600px) {
    body {
        align-items: center; /* Центрирование содержимого на мобильных устройствах */
    }

    #h1-title {
        margin-top: 10px; /* Изменено для отступа названия сайта на маленьких экранах */
    }

    #pdfContainer {
        margin-top: 20px; /* Изменено для отступа блока pdfContainer на маленьких экранах */
        width: 90%; /* Увеличение ширины pdfContainer на мобильных устройствах */
    }

    #githubLink {
        bottom: 50px; /* Изменено положение кнопки GitHub на мобильных устройствах */
    }

    #version {
        display: block; /* Показывать версию на маленьких экранах */
    }
}
 
